html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&display=swap");
/*
body {
  font-family: "Lucida Grande";
}
*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.main {
    padding: 180px 0 57px 0;
    background-image: url(IMG_5773.jpg);
    background-size: cover;
    color: azure;
    text-align: center;
  }

.main_container{
    margin: 215px 0 80px 0;
}

.main_button{
  color: azure;
}

.main_container h1{
    font-size: 45px;
    letter-spacing: 3px;
    font-family: 'Playfair Display', serif;
}

.main_button{
    display: inline-block;
    margin-top: 30px;
    padding: 12px 24px;
    font-size: 16px;
    border: 1px ;
    border-radius: 24px;
    background-color: #8F7E4F;
    font-family: 'Lato', sans-serif;
}

header {
    height: 65px;
    width: 100%;
    background-color:  rgba(23, 40, 21, 0.6);
    position: fixed;
    top: 0;
    z-index: 10;
}

.container-id{
    width: 100%;
    opacity: rgba(23, 40, 21, 0.1);
    margin: 0 auto;
}

body{
	margin: 0;
	padding: 0;
	background: #262626;
	font-family: sans-serif;
}

.container {
	width: 100%;
	margin: 70px auto 0; 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.logo,.logo1 {
  cursor: pointer;
}
.logo {
    width: 60px;
    margin-top: 5px;
    cursor: pointer;
    
  }
  
.logo {
    float: left;
    
}
  
.header-right {
    float: right;
    transition: all 0.5s;
    margin-right: 15px;
    
}

  
.destinasi:hover {
    color: rgba(143, 126, 79);
}
  
.destinasi{
    text-align: right;
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    font-size: 14px;
    font-family: 'Lato', sans-serif;

}

.logo1{
    width: 40px;
    margin: 0 auto;
    float: right;
    padding-top: 10px;
}

.main_button:hover{
    background-color: rgba(143, 126, 79, 0.5)
}

.container .box{
	position: relative;
	width: 300px;
	height: 300px;
	background: #ff0;
	margin: 10px;
	box-sizing: border-box;
	display: inline-block;

}

.container .box .imgbox{
	position: relative;
	overflow: hidden;
}
.container .box .imgbox img {
	max-width: 100%;
	transition: transform 2s;
}
.container .box:hover .imgbox img {
	transform: scale(1.2);
}
.container .box .detail{
	position: absolute;
	top: 10px;
	left: 10px;
	bottom: 10px;
	right: 10px;
	background: rgba(0,0,0,.8);
	transform: scaleY(0);
	transition: transform .5s;

}
.container .box:hover .detail{
	transform: scaleY(1);
	cursor: pointer;
}
.container .box .detail .konten{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
}
.container .box .detail .konten h2{
	margin: 0;
	padding: 0;
	font-size: 20px;
	color:#ff0; 
	opacity: 1;
}
.container .box .detail .konten p{
	margin: 10px 0 0;
	padding: 0;
	font-size: 20px;
	color:#fff;
	opacity: 0.5; 
}



/* style footer */

.footer {
  height: 300px;
  width: 100%;
  background-color: #1b1b1b;
  position: absolute;
  text-align: center;
  margin-top: 45px;
}

.contents img {
  display: block;
  width: 70px;
  margin: 0 auto;
  padding-top: 5px;
}

.contents p {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  font-style: italic;
  text-align: center;
  font-size: 12px;
  color: ivory;
  font-family:Verdana;
}

.contents h2 {
  font-family: sans-serif;
  font-size: 35px;
  font-style: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  color: whitesmoke;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.email-fill {
  display: block;
  border: 2px solid #ccdfcb;
  width: 75%;
  padding: 10px;
  height: 35px;
  border-radius: 10px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  color: black;
  border-radius: 4px;
}

.submit {
  cursor: pointer;
  font-weight: bolder;
  font-style: italic;
  padding: 5px 8px;
  margin-top: 10px;
  font-family: sans-serif;
  background-color: #f0c400;
  box-shadow: 0px 5px #8d6c0a;
  transition: all 0.5s;
}

.submit:hover {
  background-color: white;
}

.submit:active {
  position: relative;
  box-shadow: none;
  top: 5px;
}

.copy-container {
  background-color: rgb(2, 2, 2);
  Margin-top: 20px;
  padding-top: 1px;
  position: relative;
}

.copy-container p {
  color: white;
}

.footer h7 {
  display: block;
  background-color: rgb(17, 16, 16);
  margin-top: 41px;
  padding: 10px 0;
  margin-bottom: 0px;
  font-size: 15px;
  color: white;
}